html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.container {
    width: 300px;
    height: 385px;
    background-color: rgba(84, 216, 139, 0.808);
}

.small {
    width: 50px;
    height: 50px;
    background-color: rgb(127, 193, 255);
    margin: 2.5px 2.5px 2.5px 2.5px;
}

.big {
    width: 130px;
    height: 50px;
    background-color: rgb(245, 185, 57);
    margin: 2.5px 2.5px 2.5px 2.5px;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.pack2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.forth {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.pack3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pack4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 35px;
}

.fifth {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.sixth {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.sixth div {
    margin-left: 50px;
}

.seventh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}